{% extends 'world_app/base.html' %}
{% block content %}

<h1>Update Country</h1>
<br/>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label(for="name") }} {{ form.name(id="name", class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.area.label(for="area") }} {{ form.area(id="area", class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.population.label(for="population") }} {{ form.population(id="population", class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.government.label(for="government") }} {{ form.government(id="government", class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.cities.label(for="cities") }} {{ form.cities(id="cities", class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-success") }}
    </div>
</form>
<a href="{{ url_for('list_all_countries') }}" class="btn btn-secondary">Cancel</a>

{% endblock content %}
